.share {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.bg {
  width: 100%;
}

.btns {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  > p {
    width: 200px;
    height: 36px;
    background: #333333;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  .share_box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .share_arrow {
    width: 80px;
    align-self: flex-end;
    margin-right: 60px;
  }

  .tip {
    border: 3px dashed #b3b3b3;
    color: #b3b3b3;
    width: 230px;
    height: 100px;
    padding: 12px 22px;
    font-size: 22px;
    border-radius: 30px;
    margin: 20px 0;
  }
}
